.Main
  .Main__group
    .Main__group__box
      test
      .Main__group__box__member
        Member : masa
    .Main__group__edit-btn
      = link_to "#", class: "Edit-btn" do
        Edit
  .Main__message
    .Main__message__list
      masa
      .Main__message__list__message1
        2019/11/20(Wed) 17:43:01
    .Main__message__list2
      おはよう
    .Main__message__list
      masa
      .Main__message__list__message1
        2019/11/20(Wed) 17:43:01
    .Main__message__list2
      おはよう

  .Main__form
    %form.Main__form__input
      .Main__form__input__1
        %input{type: "text", class: "input-text",placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon("far","image")
          %input{type: "file",class:"icon"}
      .Main__form__input__2
        %input{type: "submit,",class:"submit-btn", value: "SEND"}