.Side
  .Side__username
    .Top-item
      .Top-item__name
        masa
      .Top-item__icons
        = link_to "#", class: "edit-btn" do
          <i class="far fa-edit"></i>
        = link_to "#", class: "cog-btn" do
          <i class="fas fa-cog"></i>

  .Side__group


